html{
	
}
body{
	
}

.container{
	
}
#header{
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top:1em;
	margin-bottom:1em;
	width: 300px;
}
#footer{
	margin-right:auto;
	margin-left:auto;
	margin-top:1em;
	width:950px;
	color:#000;
	text-align:center;
}
.heart{
	color: #A81838;
}
ul.people{
	list-style:none;
}
ul.people ul li{
	display:inline;
	list-style:none;
	margin:0 0.5em;
}
ul.people li a:link, ul.people li a:visited{
	text-decoration:none;
}
ul.people li a:hover, ul.people li a:active{
	text-decoration:underline;
}